@import "./variables";

.admin__view{
   // background: rgb(149, 55, 55);
    height: 100%;
    width: 100%;
    display: grid;
    //place-items: center;
    grid-template-columns: 1fr 1fr;
    .right{
       // background: grey;
        height: 100%;
        .card{
           
            background: white;
            border-radius: $border-radius-3;
            width: 50%;
            margin: 0.5rem auto;
            height: 18rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
            gap: 0.3rem;
            img{
                background-color: $color-info-dark;
                border-radius: 50%;
                width: 5rem;
                height: 5rem;
            }
            h3{
                font-size: 2rem;
                color: $color-dark;
                
            }
            .card-info{
                
                border: 1px solid $color-info-dark;
                border-radius: $border-radius-1;
                width: 60%;
                display: flex;
                align-items: center;
                gap: 0.2rem;
                :first-child{
                    color: $color-dark;
                    background: $color-light;
                    padding: 0.1rem 0.2rem;
                    height: 100%;
                    border-right: 1px solid $color-info-dark;

                }
            }
        }
        .right-manage{
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 1rem;
            padding: 1rem;
            button{
                padding: 0.5rem 1rem;
                border-radius: $border-radius-3;
                font-weight: 700;
            }
            .btn-update{
                border: none;
                background: $color-primary;
                color: $color-info-light;
                
                &:hover{
                    background: transparent;
                    border: 2px solid $color-primary;
                    color: $color-info-dark;
                    box-sizing: content-box;
                }
            }
            .btn-new{
                background: transparent;
                border: 2px solid $color-primary;
                color: $color-info-dark;
                &:hover{
                    border-radius: $border-radius-3;
                    
                    background: $color-primary;
                    color: $color-info-light;

                }
            }


        }
    }
    .left{
        
        height: 100%;
        padding:1rem;

        form{
            position: relative;
            //background: #fff;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        .search{
            position: relative;
            width: 100%;
            margin: 0 auto;
            background: transparent;
            border-radius: $border-radius-2;
            border: 2px solid $color-info-dark;
            padding: 0.5rem;
        }
        .search__icon{
            position: absolute;
            font-size: 2rem;
            margin-right: 0.5rem;
            color: $color-info-dark;
        }
    
    }
    .welcome-info{
        display: flex;
        flex-direction: column;
        margin: 1.5rem 0;
        color: $color-info-dark;
        h2{
            color:$color-dark;
        }


    }
    .users-list{
        display: flex;
        flex-direction: column;
        // :nth-child(even){
        //     //background: $color-light;

        // }
        span{
            padding: 0.3rem;
            font-weight: 500;
            width: 98%;
            margin: 0.2rem auto;
            color: $color-info-dark;
            border-radius: $border-radius-1;
            &:hover{
                border:2px solid $color-primary;
                
            }
            small{
                opacity: 0.9;
            }
        }
       
        .user-title{
            display: flex;
            justify-content: space-between;
            margin: 1rem 0;
            h3{
                color:$color-dark
            }
            select{
                outline: none;
                border-radius: $border-radius-1;
                background: transparent;
                color: $color-info-dark;
            }
        }

    }
    }
}