@import "./variables";
aside {
    
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    
}
.top{
    .logo{
        display: flex;
        gap: 0.8rem;
        align-items: center;
        padding-top: 1.4rem;
        padding-left: 1rem;
        color:$color-primary;
        .logo__icon{
            font-size: 2rem;
        }
    }
    .close{
        display: none;
        
    }
}
nav{
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top:3rem;
    
    a{
        display: flex;
        color:$color-info-dark;
        margin-left: 2rem;
        gap:1rem;
        align-items: center;
        position: relative;
        height: 3.7rem;
        transition:  all 300ms ease;
        &:hover{
            margin-left: 1rem;
        }
    }
    a.active{
        background: $color-light;
        color: $color-primary;
        margin-left: 0;
        &:before{
            content: "";
            width: 6px;
            height: 100%;
            background: $color-primary;

        }
    }
    a:last-child{
        position: absolute;
        bottom: 2rem;
        width: 100%;
    }
    footer{
        position: absolute;
        bottom: 2rem;
        width: 100%;
        display: flex;
        padding-left: 1rem;
        
        .profile{
            display: flex;
            text-align: left;
            justify-content: center;
            gap:0.8rem;
            align-items: center;
        }
        img{
            background-color: $color-info-dark;
            height: 100%;
        }
    }

}
