@import "./variables";
.container__main{
    background-color: $color-info-dark;
    height: 100%;
    display: grid;
    grid-template-rows: 6% auto 6%;
  }
  .view__main{
    background: steelblue;
  }